image: composer

###########################################################
# DEVOPS FUNCTIONS
###########################################################

.glpi_network_devops: &glpi_network_devops |
  # Load DevOps Functions
  [[ "$TRACE" ]] && set -x

  function glpi_network_devops_build() {
    composer install --no-progress --no-suggest --no-interaction --prefer-dist
  }

  function glpi_network_devops_dist() {
    # if tag pushed so prepare normal release
    if [ ! -z "$CI_COMMIT_TAG" ]; then
       vendor/bin/plugin-release --verbose --assume-yes --nogithub --dont-check --release $CI_COMMIT_TAG
    else
       vendor/bin/plugin-release --verbose --assume-yes --nogithub --dont-check --release $(echo $CI_COMMIT_REF_NAME | sed -E 's|/|-|') --extra prerelease --commit $CI_COMMIT_SHA
    fi
  }

  function glpi_network_devops_sync() {
    XML_NAME="${CI_PROJECT_NAME}.xml"

    # push dist files only for tags
    [ ! -z "$CI_COMMIT_TAG" ] && scp dist/* $SERVER_CONN:$PATH_DEST

    # push other files if exists
    [ -f "$XML_NAME" ] && scp $XML_NAME $SERVER_CONN:$PATH_DEST/xml

    # fix permission
    ssh $SERVER_CONN chown -R $OWN $PATH_DEST
    ssh $SERVER_CONN chmod -R $RIGHTS $PATH_DEST
  }

###########################################################
# CI JOBS
###########################################################

stages:
  - build
  - deploy

build:
  stage: build
  before_script:
    - apk add python3 python3-dev py3-pip build-base libxml2-dev libxslt-dev gettext gnupg
    - CFLAGS="-O0" pip install gitpython gitdb gitdb-speedups PyGithub lxml termcolor
    - ln -s /usr/bin/python3 /usr/bin/python
    - *glpi_network_devops
  script:
    - glpi_network_devops_build
    - glpi_network_devops_dist
  cache:
    key: $CI_COMMIT_REF_NAME
    paths:
      - dists
  only:
    - master
    - tags
    - web
  artifacts:
    paths:
    - dist
    - ${CI_PROJECT_NAME}.xml
    - vendor/bin

deploy_staging:
  stage: deploy
  image: alpine:3.14
  before_script:
    - apk add bash openssh-client
    - eval $(ssh-agent -s)
    - bash -c "ssh-add <(echo '$SSH_VM233_PRIVATE_KEY')"
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - *glpi_network_devops
  script:
    - glpi_network_devops_sync
  environment:
    name: WEB_RELEASES
    url: $ENV_URL
  only:
    - master
    - tags
