name: "Gitlab Mirroring"

on:
  push:
    branches:
      - main
    tags:
       - '*'

jobs:
  to_gitlab:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "push to gitlab https using personal access token"
        run: |
          git push --force https://github%20mirroring:${{ secrets.GITLAB_PERSONAL_TOKEN }}@gitlab.teclib.com/glpi-network/ldaptools.git ${{ github.ref_name }}
